#!/bin/bash

#sample configuration for env, must be renamed to env to make the server work

#add the values here...
#-> see https://dev.twitter.com/oauth/overview/application-owner-access-tokens to generate some

export TWITTER_CONSUMER_KEY=
export TWITTER_CONSUMER_SECRET=
export TWITTER_TOKEN=
export TWITTER_TOKEN_SECRET=
